<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Resume Voinarovskyi Andrii</title>
    <link rel="stylesheet" type="text/css" href="main/style.css">
</head>
<body>
<header class="clearfix">
    <div id="info">
        <h1><span itemprop="name">Андрій Войнаровський</span></h1>
        <h3><span itemprop="jobTitle">Freelancer &amp; Web Developer</span></h3>
        <small id="address">
            <span itemprop="addressLocality">місто Черкаси</span>,
            <span itemprop="addressRegion">Черкаська область</span>,
            <span itemprop="addressCountry">Україна</span>
        </small>
        <small><span itemprop="email">avoinarovskiy@gmail.com</span></small>
        <small>twitter: <a href="http://twitter.com/avoinarovskyi" itemprop="url">@avoinarovskyi</a></small>
    </div>
    <div id="photo">
        <img alt="Войнаровський Андрій фото аватар для резюме" itemprop="image" src="/my photo.JPG"/>
    </div>
</header>
<div id="w">
    <section class="clearfix" id="skills">

        <h2 itemprop="name">Навички</h2>
        <section id="skills-left">
            <h4 itemprop="about">Покращую</h4>
            <ul>
                <li itemprop="itemListElement">HTML5/CSS3</li>
                <li itemprop="itemListElement">JavaScript &amp; React</li>
                <li itemprop="itemListElement">SQL Databases</li>
                <li itemprop="itemListElement">Python &amp; Django</li>
                <li itemprop="itemListElement">Java</li>
            </ul>
        </section>
        <section id="skills-right">
            <h4 itemprop="about">Програмне забезпечення</h4>
            <ul>
                <li itemprop="itemListElement">Adobe Photoshop</li>
                <li itemprop="itemListElement">Android Studio</li>
                <li itemprop="itemListElement">MS Office 2007-2013</li>
                <li itemprop="itemListElement">PyCharm &amp; WebStorm</li>
                <li itemprop="itemListElement">CodeBlocks</li>
            </ul>
        </section>
    </section>
</div>
</body>
</html>